{% extends 'base.html' %}
{% block content %}

<div class="container mt-5 pt-5 d-flex justify-content-center">
    <section class="form-register">
        <form method="post">
            {% csrf_token %}
            <h4>Editar Información de Cita</h4>
            <div class="form-grid">
                <select class="controls" disabled>
                    {% for cliente in pacientes %}
                    <option value="{{ cliente.id }}"
                        {% if cliente.id == dato.paciente.id %}selected{% endif %}>
                        {{ cliente.primer_nombre }}
                        {{ cliente.segundo_nombre|default_if_none:'' }}
                        {{ cliente.primer_apellido }}
                        {{ cliente.segundo_apellido|default_if_none:'' }}
                    </option>
                    {% endfor %}
                </select>
                <input type="hidden" name="paciente" value="{{ dato.paciente.id }}">
                <select class="controls" name="tipo_cita" required>
                    {% for cita in tipos_cita %}
                    <option value="{{ cita.id }}"
                        {% if cita.id == dato.tipo_cita.id %}selected{% endif %}>
                        {{ cita.nombre }}
                    </option>
                    {% endfor %}
                </select>
                <select class="controls" name="doctor" required>
                    {% for doctor in doctores %}
                    <option value="{{ doctor.id }}"
                        {% if doctor.id == dato.doctor.id %}selected{% endif %}>
                        {{ doctor.primer_nombre }} {{ doctor.primer_apellido }}
                    </option>
                    {% endfor %}
                </select>
                <input class="controls" 
                       type="date" 
                       name="fecha" 
                       value="{{ dato.fecha|date:'Y-m-d' }}" 
                       required>
            </div>
            {% if form.data.tipo_cita %}
            <p style="margin-top:10px;">
                <strong>Mostrando doctores disponibles</strong>
            </p>
            {% endif %}
            <input class="botons" type="submit" value="Modificar Cita">
        </form>
    </section>
</div>
{% endblock %}