{% extends 'base.html' %}
{% block content %}

<div class="container mt-5 pt-5 d-flex justify-content-center">

    <section class="form-register">
        <form method="post">
            {% csrf_token %}

            <h4>Editar Información de Paciente</h4>

            <div class="form-grid">

                <input class="controls" type="number" name="numero_identificacion"
                    value="{{paciente.numero_identificacion}}" readonly>

                <input class="controls" type="text" name="primer_apellido"
                    value="{{paciente.primer_apellido}}" readonly>

                <input class="controls" type="text" name="segundo_apellido"
                    value="{{paciente.segundo_apellido}}" readonly>

                <input class="controls" type="text" name="primer_nombre"
                    value="{{paciente.primer_nombre}}" readonly>

                <input class="controls" type="text" name="segundo_nombre"
                    value="{{paciente.segundo_nombre}}" readonly>

                <input class="controls" type="tel" name="telefono"
                    value="{{paciente.telefono}}" required>

                <input class="controls" type="email" name="email"
                    value="{{paciente.email}}" required>

                <input class="controls" type="text" name="direccion"
                    value="{{paciente.direccion}}" required>

            </div>

            <input class="botons" type="submit" value="Modificar Paciente">

        </form>
    </section>

</div>

{% endblock %}