<form method="post">
    {% csrf_token %}
    

    <fieldset>
        <legend><h2>Editar información de pacientes</h2></legend>

        <label for="numero_identificacion">Identificación:</label><br>
        <input type="number" id="numero_identificacion" name="numero_identificacion" value="{{paciente.numero_identificacion}}" readonly><br><br>
        

        <label for="primer_apellido">Primer apellido:</label><br>
        <input type="text" id="primer_apellido" name="primer_apellido" value="{{paciente.primer_apellido}}" readonly><br><br>

        <label for="segundo_apellido">Segundo apellido:</label><br>
        <input type="text" id="segundo_apellido" name="segundo_apellido" value="{{paciente.segundo_apellido}}" readonly><br><br>

        <label for="primer_nombre">Primer nombre:</label><br>
        <input type="text" id="primer_nombre" name="primer_nombre" value="{{paciente.primer_nombre}}" readonly><br><br>

        <label for="segundo_nombre">Segundo nombre:</label><br>
        <input type="text" id="segundo_nombre" name="segundo_nombre" value="{{paciente.segundo_nombre}}" readonly><br><br>

        <label for="telefono">Teléfono:</label><br>
        <input type="tel" id="telefono" name="telefono" pattern="\+?[0-9\s\-]{7,15}" value="{{paciente.telefono}}" required><br><br>

        <label for="email">Correo electrónico:</label><br>
        <input type="email" id="email" name="email" value="{{paciente.email}}" required><br><br>

        <label for="direccion">Dirección de residencia:</label><br>
        <input type="text" id="direccion" name="direccion" value="{{paciente.direccion}}" required><br><br>

    </fieldset>

    <br>
    <input type="submit" value="Modificar Paciente">
</form>
