{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static '/css/abrir_modal_editar_cita_styles.css' %}">
    </head>
    <body>
        <table border="1">
            <tr>
                <th>Nombre del paciente</th>
                <th>Cita solicitada</th>
                <th>Doctor</th>
                <th>Fecha programada</th>
                <th>Opciones</th>
            </tr>
            {% for dato in cita %}
            <tr>
                <td>{{dato.paciente.primer_nombre}} {{dato.paciente.primer_nombre}} {{dato.paciente.segundo_nombre|default_if_none:''}}</td>
                <td>{{dato.tipo_cita.nombre}}</td>
                <td>{{dato.doctor.primer_nombre}} {{dato.doctor.segundo_nombre|default_if_none:''}} {{dato.doctor.primer_apellido|default_if_none:''}} {{dato.doctor.segundo_apellido|default_if_none:''}}</td>
                <td>{{dato.fecha}}</td>
                <td><a href="{% url 'editarcita' dato.id %}">Editar Información</a>
                    <form action="{%url 'eliminarcita' dato.id %}">
                        <button>Eliminar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>

