{% extends 'base.html' %}
{% block content %}

<div class="container-fluid mt-5 pt-5">
    <div class="row align-items-stretch">
        <div class="col-md-4">
            <section class="form-register">
                <form method="post">
                    {% csrf_token %}
                    <h4>Registrar Doctor</h4>
                    <div class="form-grid">
                        <input class="controls" type="text" name="primer_apellido" placeholder="Primer apellido" required>
                        <input class="controls" type="text" name="segundo_apellido" placeholder="Segundo apellido">
                        <input class="controls" type="text" name="primer_nombre" placeholder="Primer nombre" required>
                        <input class="controls" type="text" name="segundo_nombre" placeholder="Segundo nombre">
                    </div>
                    <input class="botons" type="submit" value="Registrar Doctor">
                </form>
            </section>
        </div>
        <div class="col-md-8">
            <div class="container-table">
                <table class="table table-dark table-hover">
                    <thead>
                        <tr>
                            <th>Primer Nombre</th>
                            <th>Segundo Nombre</th>
                            <th>Primer Apellido</th>
                            <th>Segundo Apellido</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for doctor in doctores %}
                        <tr>
                            <td>{{doctor.primer_nombre}}</td>
                            <td>{{doctor.segundo_nombre}}</td>
                            <td>{{doctor.primer_apellido}}</td>
                            <td>{{doctor.segundo_apellido}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
``