{% extends 'base.html' %}
{% block content %}
<form method="post">
    {% csrf_token %}

    <fieldset>
        <legend><h2>Registro de Doctor</h2></legend>

        <label for="primer_apellido">Primer apellido:</label><br>
        <input type="text" id="primer_apellido" name="primer_apellido" required><br><br>

        <label for="segundo_apellido">Segundo apellido:</label><br>
        <input type="text" id="segundo_apellido" name="segundo_apellido"><br><br>

        <label for="primer_nombre">Primer nombre:</label><br>
        <input type="text" id="primer_nombre" name="primer_nombre" required><br><br>

        <label for="segundo_nombre">Segundo nombre:</label><br>
        <input type="text" id="segundo_nombre" name="segundo_nombre"><br><br>
    </fieldset>

    <br>
    <input type="submit" value="Registrar Doctor">
</form>

<table border="1">
    <tr>
        <th>Primer Nombre</th>
        <th>Segundo Nombre</th>
        <th>Primer Apellido</th>
        <th>Segundo Apellido</th>
    </tr>
    {% for doctor in doctores %}
    <tr>
        <td>{{doctor.primer_nombre}}</td>
        <td>{{doctor.segundo_nombre}}</td>
        <td>{{doctor.primer_apellido}}</td>
        <td>{{doctor.segundo_apellido}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
